<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Your Django App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6q8bc/6BZ8eOMbGgDanruNHxI9y7xN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4 mb-4">Welcome to Best Cars Dealership</h1>
            <p class="lead">
                Home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </p>
          </div>
        </div>
      </div>
    
</body>
</html>
